body
{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}

/* ------------ navbar ------------  */
 .social-icons{
    display: flex;
    justify-content: end;
    gap: 1rem;
    font-size: 20px;
    font-weight: 400;
    color: #e2211c;
 }
 .main-header nav 
 {
   
    padding: 0 1rem;
    background: linear-gradient(144deg, #e2211c, #e2211c 38%, #a91302 69%, #d00b03);
 }
 .navbar-brand img{
    width: 7.5rem;
 }
 .main-header ul li a
 {
    color: #fff !important;
    font-size: 17px;
 }
 .carousel-control-prev,.carousel-control-next{
    background: none !important;
    border: none;

 }