body
{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
ul{
    list-style-type: none;
}
h2,h5{
   color: #e2211c;
   font-weight: 700;
}
/* ------------ navbar ------------  */
 .social-icons{
    display: flex;
    justify-content: end;
    gap: 1rem;
    font-size: 20px;
    font-weight: 400;
    color: #e2211c;
 }
 .main-header nav 
 {
   
    padding: 0 1rem;
    background: linear-gradient(144deg, #e2211c, #e2211c 38%, #a91302 69%, #d00b03);
 }
 .navbar-brand img{
    width: 7.5rem;
 }
 .main-header ul li a
 {
    color: #fff !important;
    font-size: 17px;
 }
 .carousel-control-prev,.carousel-control-next{
    background: none !important;
    border: none;

 }
 .find-products
 {
   padding: 2rem;
   background-image: url('/assets/products/section-bg-1.jpg');
 }
 .find-products p{
   letter-spacing: 1px;
 }
 .product-container>div{
   text-align: center;
 }
 .product-container{
   display: flex;
   justify-content: space-around;
 }
 .product-container>div>img
 {
   z-index: 2;
 }
 .product-container>div:hover{
   background-color: #e2211c;
   border-radius: 50%;
 }
 /* ------------------- About us section ----------------  */
 .about-us{
   background-image: url(./assets/about-us-bg.jpg);
 }
 .about-us #overlay{
   background: linear-gradient(144deg, #e2211c, #e2211c 24%, #d00b03 80%);
   color: #fff;
    opacity: .8;
    z-index: -1;
    padding: 3rem;
    padding-bottom: 7rem;
    word-spacing: 1px;
    font-weight: 500;
    line-height: 2rem;
 }
 #our-recipes
 {
  background-image: url(./assets//white-painted-background.jpg);
 }
 #our-recipes #overlay
 {
  z-index: -1;
    padding: 3rem;
    word-spacing: 1px;
    font-weight: 500;
    line-height: 2rem;
 }
 .about-us h3 {
   font-size: 2rem;
    margin: 1rem 0;
 }
 .about-content{
   margin: auto;
 }
 .about-content button{
   padding: 8px 41px;
   border-radius: 0 20px 0 20px;
    margin-top: 20px;
    background-color: #f51711;
    box-shadow: unset!important;
    color: #fff;
    border: unset;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }
 .about-content button:hover{
   background-color: #ee2d27da;
 }
 .making-process-img-top
 {
  position: relative;
  top: -3rem;
 }
 .making-process-img-bottom
 {
  position: absolute;
  bottom: 1rem;
  left: -4rem;
 }
.feature-icons p{
  color:#e2211c ;
  font-weight: 600;
  
}
.feature-icons div{
  margin-top: 1rem;
}
#our-recipes h3{
  font-size: 2rem;
   margin: 1rem 0;
   color: #e2211c;
}

/* ------------------- testimonials styles ---------------  */
#carouseltestimonials img{
  width: 3rem;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgb(223, 223, 218);
}
#carouseltestimonials .carousel-control-next,#carouseltestimonials .carousel-control-prev
{
  background-color: gray !important;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.first-container,.second-container{
  position: relative;
}
.first-container h1,.second-container h1
{
  position: absolute;
  bottom: 0;
  left: 56%;
  color: #a91302;
  font-size: 3rem;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #f32170, #e2211c, #ac1202, #ca0c03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}
.first-container h1::first-letter,.second-container h1::first-letter
{
font-size: 5rem;
}
iframe{
  min-width: 100%;
  height: 100% !important;
}
/* --------------------------- Footer ----------------------  */
footer
{
  background: #2b2b2f;
  color: #f5f4f4;
  font-weight: 600;
}
footer i{
  margin-top: 5px;
  font-size: 1.2rem;
}
.address-bar{
  gap:0.4rem
}
footer hr{
  border-color: #444444 !important;
}
.social-icons-footer{
  float: left;
  padding: 1rem;
}
.social-icons-footer i{
  font-size: 1.5rem;
  color: #f5f4f4;
  padding: 0.5rem;
}
.links{
  padding: 0;
}
.links li,.links a,.links a:hover
{
  margin: 1.5rem 0;
  text-decoration: none;
  color: #a5a5a5;
}
.social-icons-footer li:hover
{
  background-color: #a91302;
}
.credits{
  background-color: #e2211c;
  font-weight: 400;
}